/* 顶部导航 */
.header-top{
    background-color:#25292e;
    height:56px;
    width: 100%;
    min-width:1000px;
    line-height:56px;
}
.wrap{
    width: 1000px;
    margin:0 auto;
}
.wrap .logo{
    margin:9px 0;
}
.wrap .logo a{
    display:block;
    background-image:url("../images/icon.png");
}
.wrap .logo,.wrap .logo a{
    width: 95px;
    height: 38px;
}

.header-top .fl,.header-top .fr li{
    float:left;
}
.header-top .nav{
    float:right;
}
.header-top .login-reg-btn{
    height:56px;
    line-height:56px;
}
.header-top li a{
    font-size:1.2rem;
    color:#666;
}
.header-top .login-reg-btn a{
    color:#ccc;
}
.header-top .login-reg-btn .loginBtn{
    margin-right:8px;
}
.header-top .login-reg-btn .regBtn{
    padding-right:15px;
}
.header-top ul li a{
    letter-spacing:1.1px;
}
.header-top ul li.line{
    width:1px;
    height:8px;
    margin-top:25px;
    background:#525961;
}
.header-top .cart,.header-top .message,.header-top .add{
    padding:0 15px;
}
.header-top .add{
    padding:0 0 0 15px;
}



/* 二级导航开始 */
#nav{
    width: 1000px;
    height:45px;
    margin:0 auto;
    border-bottom:4px solid #ededed;
    background-color:#fff;
}
#nav .fl{
    width: 734px;
    height: 49px;
    float:left;
}
#nav .fl li{
    float:left;
    width: 121px;
    height:45px;
    line-height:46px;
    cursor:pointer;
}
#nav .fl .homeBtn a{
    width: 118px;
    text-align:left;
}
#nav ul li a{
    display:block;
    width: 121px;
    height: 45px;
    color:#333;
    font-size:15px;
    text-align:center;
}
#nav ul li:hover{
    border-bottom:4px solid #333;
}
#nav .search{
    float:right;
    width: 260px;
    height: 49px;
    position:relative;
    overflow:hidden;
}
#nav .search-box{
    width: 260px;
    border-bottom:4px solid #25292e;
    text-align:left;
    height:45px;
    position:absolute;
    left:260px;
    font-family:'Hiragino Sans GB','microsoft yahei' ,'Arial';
}
.search input[type="text"]{
    border:none;
    outline:none;
    width: 188px;
    height: 30px;
    padding-left:4px;
    line-height:30px;
    margin-top:9px;
    float:left;
}
.search .icon-sousuo{
    width: 33px;
    height: 40px;
    position: absolute;
    right: 0;
    color: #333;
    top: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}
.search .icon-sousuo:hover{
    opacity:0.6;
}

/* 页面主体部分 */
main{
    width:1000px;
    margin:0 auto;
}

/* 轮播图开始 */
#actionContainer{
    position:relative;
    margin:23px 0 0 0;
    overflow:hidden;
}
#actionContainer .carousel{
    width: 6000px;
    height:475px;
    position:absolute;
    left:-1000px;
}
.carousel ul li{
    float:left;
}
#actionContainer .carousel li img,#actionContainer{
    width: 1000px;
    height: 475px;
}

/* 左右点击按钮 */
#actionContainer .iconfont{
    width: 130px;
    height: 470px;
    position:absolute;
    color:#ccc;
    opacity:0.5;
    display:none;
    font-size:50px;
    line-height:470px;
    text-align:center;
}
#actionContainer .left-Btn{
    left:0;
}
#actionContainer .right-Btn{
    right:0;
}

/* 小按钮 */
#actionBtn{
    width: 1000px;
    height: 18px;
    padding: 7px 0;
    font-size:0;
    margin-top:3px;
    text-align:center;
}

#actionBtn a {
    display:inline-block;
    width: 20px;
    height: 4px;
    background-color:#e8e8e8;
    margin:0 3px;
}
#actionBtn .active{
    background-color:#45494d;
}

.hAd02{
    width: 1000px;
    height:403px;
    margin-top:12px;
    position:relative;
}
.hAd02 .item1{
    width: 317px;
    height: 190px;
}
.hAd02 .item2{
    width: 318px;
    height: 403px;
}
.hAd02 .item1,.hAd02 .item2{
    position:absolute;
}
.hAd02 .ad1{
    left: 0;
    top: 0;
}
.hAd02 .ad3{
    right:0;
    top:0;
}
.hAd02 .ad4{
    left:0;
    bottom:0;
}
.hAd02 .ad5{
    right:0;
    bottom:0;
}
.hAd02 .ad2{
    top:0;
    left:341px;
}

/* 人气良品开始 */
.hTitle{
    width: 1000px;
    padding:10px 0;
    margin:36px 0 20px 0; 
    text-align:center;
    border-bottom:1px solid #ccc;
    font-size:1.2rem;
}
.shopList{
    margin:20px 0 10px 0;
    width: 1000px;
    height:auto;
}
.shopList .item{
    float:left;
    margin:0 0 30px 26px;
    position:relative;
}
.shopList .first{
    margin-left:0;
}
.shopList .item,.shopList .item img{
    width: 316px;
    height:316px;
}
.shopList .shadow-box{
    position:absolute;
    width: 286px;
    height: 286px;
    padding:15px;
    left:0;
    top:0;
    background-color:#484848;
    display:none;
}
.shopList .item:hover .shadow-box{
    display:block;
}
.shopList .item p{
    text-align:center;
    color:#fff;    
    height:25px;
    width:85%;
    line-height:20px;
    vertical-align:middle;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin:0 auto;
}
.shopList .item .title{
    font-size:1.4rem;
    font-weight:bold;
    margin-top:80px;
}
.shopList .item .price{
    font-size:2rem;
    color:#0c6eba;
    font-style:italic;
    margin-top:4px;
    width:97%;
    text-align:left;
}
.shopList .item .desc{
    font-weight:100;
    margin-top:5px;
    white-space:normal;
    height:auto;
}

.backtoTop{
    width: 60px;
    height:auto;
    position:fixed;
    right: 44px;
    bottom: 10px;
    cursor:pointer;
    display:none;
}
.backtoTop a{
    width: 59px;
    height: 59px;
    display:block;
    background-position:-20px -813px;
    position:relative;
    background-image:url("../images/icon.png");
}
