*{
    padding: 0;
    margin: 0;
}
html{
    font-size:62.5%;
    font-family:"Hiragino Sans GB", 冬青黑体, "Hiragino Kaku Gothic ProN", "Microsoft Yahei", Simsun, Arial, Helvetica, sans-serif;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}

.clear-margin::before,.clear-margin:before{
    content:'';
    display:block;
    overflow:hidden;
}
.clear-float::after,.clear-float:after{
    content:'';
    display:block;
    clear:both;
}