* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  color: #333;
  font-family: quote, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", "Helvetica", "STHeitiSC-Light", "Arial", "simsun", sans-serif;
}

a {
  text-decoration: none;
}

.clear-margin:before, .clear-margin::before {
  content: '';
  display: block;
  overflow: hidden;
}

.clear-float:after, .clear-float::after {
  content: '';
  display: block;
  clear: both;
}

ul, ol {
  list-style: none;
}

.m-header {
  width: 100%;
  height: 73px;
  border-bottom: 1px solid #f1f1f1;
}

.top-nav {
  width: 1100px;
  margin: 0 auto;
}

.top-nav .m-logo {
  width: 290px;
  height: 70px;
  float: left;
  background: url("./images/modules.png") no-repeat 0 -45px;
}

.top-nav .m-search {
  width: 300px;
  float: left;
  height: 70px;
  margin-left: 334px;
  position: relative;
}

.top-nav .search-box {
  margin-top: 15px;
  width: 297px;
  border-radius: 20px;
  height: 32px;
  border: 2px solid #d9d9d9;
}

.top-nav .search-box input {
  border-width: 0;
  outline: none;
  width: 80%;
  margin: 10px 0 0 34px;
}

.top-nav .search-box form {
  width: 100%;
  height: 38px;
  background: url("./images/modules.png") no-repeat -1px -2px;
}

.m-search .wrap {
  width: 300px;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 56px;
  box-shadow: 0 1px 1px #000;
  display: none;
}

.m-search ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 2em;
  color: #888;
  cursor: pointer;
}

.m-search ul li:hover {
  background-color: whitesmoke;
}

.m-search p.title {
  font-weight: bold;
  color: #000;
  line-height: 30px;
  height: 30px;
  text-indent: 2em;
  border-bottom: 1px solid #e5e5e5;
}

.m-shopcar {
  width: 36px;
  margin: 36px;
  margin: 17px 0 0 41px;
  float: left;
  position: relative;
}

.m-shopcar a {
  width: 36px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  background: url("./images/modules.png") -108px -160px;
}

.m-shopcar span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("./images/modules.png") -156px -158px;
  position: absolute;
  left: 26px;
  top: -8px;
  text-align: center;
  color: #fff;
}

.m-user {
  width: 62px;
  height: 70px;
  margin-left: 37px;
  float: left;
  position: relative;
}

.m-user .login {
  width: 36px;
  height: 36px;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  margin-top: 17px;
}

.m-user .arrow {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  position: absolute;
  right: 0;
  top: 50%;
}

.m-user .login-box {
  width: 160px;
  height: auto;
  position: absolute;
  top: 65px;
  left: -56px;
  box-shadow: 0 1px 1px #000;
  display: none;
  z-index: 100;
  background-color: #fff;
}

.m-user li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
  cursor: pointer;
}

.m-user li:hover {
  background-color: #f8f8f8;
}

.m-user:hover .login-box {
  display: block;
}

.m-user:hover .arrow {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #000;
  top: 40%;
}

#banner {
  width: 100%;
  height: 480px;
  background-color: #4ea314;
}

#banner .swiper {
  width: 1100px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}

#banner .swiper li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

#banner .swiper img {
  width: 100%;
  height: 100%;
}

#banner .swiper li.active {
  opacity: 1;
}

#banner .swiper .circles {
  position: absolute;
  bottom: 32px;
  width: 100%;
  height: 8px;
  text-align: center;
}

#banner .swiper .circles span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #94a98c;
  cursor: pointer;
  margin: 0 3px;
}

#banner .swiper .circles span.focus {
  background-color: #da4037;
}

#banner .point {
  display: block;
  position: relative;
  top: -294px;
}

.point a {
  position: absolute;
  width: 37px;
  height: 63px;
  top: 0;
  background-image: url("./images/button.png");
}

#banner .point .left {
  left: 2px;
}

#banner .point .right {
  right: 2px;
  background-position: 36px 0;
}
