@charset "UTF-8";
aside {
  background-color: #f00;
  color: #00f;
}

body {
  color: #333;
  padding: 0;
  /* 这种注释内容会出现在生成的css文件中 */
}

body {
  color: #333;
  padding: 1;
  /* 这块注释内容也不会出现在生成的css中 */
}
