*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style:none;
}
.container{
    position:relative;
    overflow:hidden;
}
.box li img{
    display:block;
    width: 100%;
    height:100%;
    float:left;
}
.circle{
    position:absolute;
    left:0;
    bottom:3px;
    width: 100%;
    line-height:10px;
    text-align:center;
}
.circle span{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color:#c00;
    border-radius:50%;
}
.circle .active{
    background-color:#0f0;
}